<section id="contact-info">
    <div class="container wow fadeInDown">
        <div class="contact-info-title">
            <i class="fa fa-map-marker-alt"></i>
            <span>Contact Us</span>
        </div>

        <div class="row">

            <div class="col-md-5">
                <div class="nabza wow fadeInDown">
                    <img class="img-responsive" src="~/images/footer-logo.png" alt="" />
                    <p>SoftZone is a specialized IT company that provides software solutions and provide the best systems to manage your business successfully SoftZone is a specialized IT company that provides software solutions and provide the best systems to manage your business successfully.</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="down-menu wow fadeInDown">
                    <h4>Short List</h4>
                    <ul class="down-menu-list">
                        <li><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/Home/About">About Us</a></li>
                        <li><a href="~/Home/Projects">Projects</a></li>
                        <li><a href="~/Home/Blog">Blog</a></li>
                        <li><a href="~/Home/Contact">Contact us</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-info wow fadeInDown">
                    <h4>Contact Info</h4>
                    <ul class="contact-info-list">
                        <li>SoftZone is a specialized IT company, Mansoura , Egypt.</li>
                        <li><i class="fa fa-phone"></i>Phone : <span>+2 0101 040 6304</span></li>
                        <li><i class="fa fa-mobile-alt"></i>Fax : <span>+2 0101 040 6304</span></li>
                        <li><i class="fa fa-envelope"></i>Email : <a href="#">info@soft-zone.net</a></li>
                        <li><i class="fa fa-globe"></i>Website : <a href="http://www.mc.edu.eg/">www.soft-zone.net</a></li>
                    </ul>
                </div>
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</section>
