                        <!-- Main Menu -->
<nav class="main-menu">
    <div class="navbar-collapse show collapse clearfix">
        <ul class="navigation clearfix">
            <li class="current"><a href="index.html">Home</a></li>
            <li class="dropdown">
                <a href="#">About us</a>
                <ul>
                    <li>@Html.ActionLink("About SOFT ZONE", "about", "Home")</li>
                    <li><a href="mission&vision.html">Mission & Vision</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Services</a>
                <ul>
                    <li><a href="service.html">System Integration Services</a></li>
                    <li><a href="service.html">Mobile Application</a></li>
                    <li><a href="service.html">Integrated Solutions</a></li>
                    <li><a href="service.html">Software Services</a></li>
                    <li><a href="service.html">Consultation Services</a></li>
                </ul>
            </li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="faq.html">FAQ’s</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</nav><!-- Main Menu End-->
