<section class="newsletter-section">
    <div class="auto-container">
        <div class="inner-container margin-bottom">
            <div class="row clearfix">

                <!--Title Column-->
                <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h4>Newsletter Subscription</h4>
                        <div class="title">Get latest news and updates in your inbox.</div>
                    </div>
                </div>

                <!--Form Column-->
                <div class="form-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column">

                        <!--Subscribe Form-->
                        <div class="subscribe-form">
                            <form method="post" action="http://steelthemes.com/demo/html/sys-SOFT ZONE/contact.html">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Your email address. . ." required>
                                    <button type="submit" class="theme-btn btn-style-two"><i>Subscribe Us</i> <span class="arrow flaticon-next-8"></span></button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>