
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title" style="background-image:url(../images/background/2.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Blog</h1>
                <div class="text">More than 2000 clients share their thoughts about us</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>Our Blogs</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="our-blogs-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">15 dec</div>
                        <img src="~/images/news-1.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">Automation Race: Comparing 5 RPA service providers.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">21 Nov</div>
                        <img src="~/images/news-2.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">Most unusual uses of artificial intelligence projects.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">06 nov</div>
                        <img src="~/images/news-3.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">A Performance culture…Don’t we already have that?.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">29 oct</div>
                        <img src="~/images/news-1.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">A Performance culture…Don’t we already have that?.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">15 oct</div>
                        <img src="~/images/news-2.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">Automation Race: Comparing 5 RPA service providers.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">27 sep</div>
                        <img src="~/images/news-3.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">Most unusual uses of artificial intelligence projects.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">14 sep</div>
                        <img src="~/images/news-1.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">Most unusual uses of artificial intelligence projects.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">02 sep</div>
                        <img src="~/images/news-2.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">A Performance culture…Don’t we already have that?.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">15 oct</div>
                        <img src="~/images/news-3.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="blog-single.html">Automation Race: Comparing 5 RPA service providers.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

        </div>

        <!--Post Share Options-->
        <div class="styled-pagination text-center">
            <ul class="clearfix">
                <li class="prev"><a href="#"><span class="flaticon-back"></span> </a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="next"><a href="#"><span class="flaticon-right-arrow"></span> </a></li>
            </ul>
        </div>

    </div>
</section>

