
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title" style="background-image:url(../images/background/2.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>FAQ'S</h1>
                <div class="text">More than 2000 clients share their thoughts about us</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>FAQ'S</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="faq-page-section">
    <div class="auto-container">

        <!--Accordion Box-->
        <ul class="accordion-box">

            <!--Block-->
            <li class="accordion block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="acc-btn active"><span class="left-icon flaticon-question"></span> <div class="icon-outer"><span class="icon icon-plus flaticon-right-arrow"></span> </div> Eius modi tempora incidunt ut labore magnam?</div>
                <div class="acc-content current">
                    <div class="content">
                        <p>Sit voluptatems accusantium dolors laudantium totam aperiam eaque ips quae ab illo inventore veritatis quasi architecto beataes vitae dicta enim ipsam voluptatem  take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                </div>
            </li>

            <!--Block-->
            <li class="accordion block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="acc-btn"><span class="left-icon flaticon-question"></span><div class="icon-outer"><span class="icon icon-plus flaticon-right-arrow"></span></div> Dolores eos qui ratione voluptatem sequi nesciunt?</div>
                <div class="acc-content">
                    <div class="content">
                        <p>Sit voluptatems accusantium dolors laudantium totam aperiam eaque ips quae ab illo inventore veritatis quasi architecto beataes vitae dicta enim ipsam voluptatem  take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                </div>
            </li>

            <li class="accordion block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="acc-btn"><span class="left-icon flaticon-question"></span><div class="icon-outer"><span class="icon icon-plus flaticon-right-arrow"></span></div> Neque qui dolorem ipsum quia dolor sit amet?</div>
                <div class="acc-content">
                    <div class="content">
                        <p>Sit voluptatems accusantium dolors laudantium totam aperiam eaque ips quae ab illo inventore veritatis quasi architecto beataes vitae dicta enim ipsam voluptatem  take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                </div>
            </li>

            <!--Block-->
            <li class="accordion block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="acc-btn"><span class="left-icon flaticon-question"></span><div class="icon-outer"><span class="icon icon-plus flaticon-right-arrow"></span></div> Sed quia non numquam eius modi tempora?</div>
                <div class="acc-content">
                    <div class="content">
                        <p>Sit voluptatems accusantium dolors laudantium totam aperiam eaque ips quae ab illo inventore veritatis quasi architecto beataes vitae dicta enim ipsam voluptatem  take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                </div>
            </li>

            <li class="accordion block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="acc-btn"><span class="left-icon flaticon-question"></span><div class="icon-outer"><span class="icon icon-plus flaticon-right-arrow"></span></div> Frequently occur that pleasures have to be repudiated?</div>
                <div class="acc-content">
                    <div class="content">
                        <p>Sit voluptatems accusantium dolors laudantium totam aperiam eaque ips quae ab illo inventore veritatis quasi architecto beataes vitae dicta enim ipsam voluptatem  take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</section>

