
@{
    ViewData["Title"] = "SOFT ZONE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-section">
    <div class="banner-carousel owl-carousel owl-theme">

        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url(../images/main-slider/1.jpg);">
            <div class="auto-container clearfix">
                <!-- Content Box -->
                <div class="content-box">
                    <div class="inner">
                        <h2>IT Solutions.</h2>
                        <div class="text">Independent Personal & business advice based on established <br> research methods & knowledge experts.</div>
                        <div class="link-box">
                            <a href="~/Home/about" class="theme-btn btn-style-two"><i>More About Us</i> <span class="arrow flaticon-next-8"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url(../images/main-slider/2.jpg);">
            <div class="auto-container clearfix">
                <!-- Content Box -->
                <div class="content-box right-box">
                    <div class="inner">
                        <h2>Intelligent Choice.</h2>
                        <div class="text">Independent Personal & business advice based on established <br> research methods & knowledge experts.</div>
                        <div class="link-box">
                            <a href="~/Home/about" class="theme-btn btn-style-two"><i>More About Us</i> <span class="arrow flaticon-next-8"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url(../images/main-slider/3.jpg);">
            <div class="auto-container clearfix">
                <!-- Content Box -->
                <div class="content-box">
                    <div class="inner">
                        <h2>Get Real Results.</h2>
                        <div class="text">Independent Personal & business advice based on established <br> research methods & knowledge experts.</div>
                        <div class="link-box">
                            <a href="~/Home/about" class="theme-btn btn-style-two"><i>More About Us</i> <span class="arrow flaticon-next-8"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="featured-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Featured Block -->
            <div class="featured-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box"><img src="~/images/1.png" alt="" /></div>
                    <h3><a href="#">Consulting Services</a></h3>
                    <a class="read-more" href="#"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                </div>
            </div>

            <!-- Featured Block -->
            <div class="featured-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box"><img src="~/images/2.png" alt="" /></div>
                    <h3><a href="#">Planning Services</a></h3>
                    <a class="read-more" href="#"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                </div>
            </div>

            <!-- Featured Block -->
            <div class="featured-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box"><img src="~/images/3.png" alt="" /></div>
                    <h3><a href="#">Software Services</a></h3>
                    <a class="read-more" href="#"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                </div>
            </div>

            <!-- Featured Block -->
            <div class="featured-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box"><img src="~/images/4.png" alt="" /></div>
                    <h3><a href="#">Integrated Solutions</a></h3>
                    <a class="read-more" href="#"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="business-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <h2>About <b class="color">SOFT ZONE</b> for Information Systems </h2>
                    <div class="text">SOFT ZONE for Information Systems; Is an Egyptian shareholding company with main premises in Cairo. The Company has been founded by a proficient group of Information Technology skilled software engineers whose expertise is acknowledged throughout the IT Industry...</div>

                    <!--  comment-->

                    <div class="play-box">
                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image play-icon wow bounceIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <span class="play-btn flaticon-play-button"></span>
                            <div class="videobox_animation circle_1" style="border-color: #c5c5c5"></div>
                            <div class="videobox_animation circle_2" style="border-color: #c5c5c5"></div>
                            <div class="videobox_animation circle_3" style="border-color: #c5c5c5"></div>
                        </a>
                        Ahmed Ali <br><span>Chief Executive</span>
                    </div>




                    <!-- More Box -->
                    <div class="more-about">
                        <a class="about" href="~/Home/about">More About SOFT ZONE <span class="arrow flaticon-next-7"></span></a>
                    </div>

                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Pattern Layouts -->
                    <div class="pattern-layouts">
                        <div class="pattern-1"></div>
                        <div class="pattern-2"></div>
                        <div class="pattern-3"></div>
                    </div>





                    <!-- Image Gallery -->
                    <div class="images-gallery">
                        <!-- Image One -->
                        <div class="image image-one">
                            <img src="~/images/landing_slider_3.png" alt="" />
                        </div>
                        <!-- Image Two -->
                        <div class="image image-two">
                            <img src="~/images/post-four-185x1852.png" alt="" />
                        </div>
                        <!-- Image Three -->
                        <div class="image image-three">
                            <img src="~/images/post-four-185x185.png" alt="" />
                        </div>
                        <!-- Image Four -->
                        <div class="image image-four">
                            <img src="~/images/portfolio_08.png" alt="" />
                        </div>
                    </div>




                </div>
            </div>

        </div>
    </div>
</section>



<section class="industry-section" style="background-image:url(../images/background/1.jpg)">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title light centered">
            <div class="title">Sectores</div>
            <h2>Solutions We Serve</h2>
            <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective Solutions and our team works.</div>
        </div>

        <div class="row clearfix">

            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Design</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="~/images/a1.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Digital Services</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="~/images/a2.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Consulting</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="~/images/a3.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Inspecting</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="~/images/a4.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Planning</h3>
                        <div class="icon-box">
                            <span class="icon"><img src="~/images/a5.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-2 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="900ms" data-wow-duration="1500ms">
                    <div class="upper-box">
                        <h3>Restructuring </h3>
                        <div class="icon-box">
                            <span class="icon"><img src="~/images/a6.png" alt="" /></span>
                        </div>

                    </div>
                    <div class="lower-box">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Button Box -->
        <div class="btn-box text-center wow rubberBand" data-wow-delay="0ms" data-wow-duration="1500ms">
            <a href="~/Home/Services" class="theme-btn btn-style-three"><i>More Solutions</i> <span class="arrow flaticon-next-8"></span></a>
        </div>

    </div>
</section>



<section class="projects-section">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Case Studies</div>
            <h2>Latest Projects</h2>
            <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective Solutions and our team works.</div>
        </div>

    </div>

    <div class="outer-container">

        <div class="projects-carousel owl-carousel owl-theme">

            <!-- Project Block -->
            <div class="project-block">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/gallery/1.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <a class="title read-more" href="#">SOFT ZONE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/gallery/2.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <a class="title read-more" href="#">SOFT ZONE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/gallery/3.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <a class="title read-more" href="#">SOFT ZONE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/gallery/4.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <a class="title read-more" href="#">SOFT ZONE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/gallery/5.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <a class="title read-more" href="#">SOFT ZONE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Block -->
            <div class="project-block">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/images/gallery/6.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <a class="title read-more" href="#">SOFT ZONE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>

</section>



<section class="testimonial-section">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Testimonials</div>
            <h2>Words From Customers</h2>
            <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective industries and our team works.</div>
        </div>

        <div class="row clearfix">

            <!-- Quote Column -->
            <div class="quote-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Quote Icon -->
                    <div class="quote-icon">
                        <span class="icon flaticon-quote-1"></span>
                    </div>
                    <div class="author author-one"><img src="~/images/author-4.jpg" alt="" /></div>
                    <div class="author author-two"><img src="~/images/author-5.jpg" alt="" /></div>
                    <div class="author author-three"><img src="~/images/author-6.jpg" alt="" /></div>
                    <div class="author author-four"><img src="~/images/author-7.jpg" alt="" /></div>
                </div>
            </div>

            <!-- Carousel Column -->
            <div class="carousel-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">

                    <div class="testimonial-carousel owl-carousel owl-theme">

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="client-logo">
                                    <img src="~/images/clients/1.png" alt="" />
                                </div>
                                <div class="text">Soft Zone have done an excellent job presenting the analysisand insights. I am confident in saying that they have helped extremely which toil and pain can procure him some great pleasure.</div>
                                <h3>H. Sam Denisley</h3>
                                <div class="designation">Product & Marketing Manager</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="client-logo">
                                    <img src="~/images/clients/2.png" alt="" />
                                </div>
                                <div class="text">Soft Zone have done an excellent job presenting the analysisand insights. I am confident in saying that they have helped extremely which toil and pain can procure him some great pleasure.</div>
                                <h3>H. Sam Denisley</h3>
                                <div class="designation">Product & Marketing Manager</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="client-logo">
                                    <img src="~/images/clients/3.png" alt="" />
                                </div>
                                <div class="text">Soft Zone have done an excellent job presenting the analysisand insights. I am confident in saying that they have helped extremely which toil and pain can procure him some great pleasure.</div>
                                <h3>H. Sam Denisley</h3>
                                <div class="designation">Product & Marketing Manager</div>
                            </div>
                        </div>

                        <!-- Testimonial Block -->
                        <div class="testimonial-block">
                            <div class="inner-box">
                                <div class="client-logo">
                                    <img src="~/images/clients/4.png" alt="" />
                                </div>
                                <div class="text">Soft Zone have done an excellent job presenting the analysisand insights. I am confident in saying that they have helped extremely which toil and pain can procure him some great pleasure.</div>
                                <h3>H. Sam Denisley</h3>
                                <div class="designation">Product & Marketing Manager</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>



<section class="section section-cards">
    <div class="codrops-header">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="section-description">
                    <img class="compon-img" src="~/images/i-options-tiny.png" alt="" />
                    <h3 class="title">Mobile Application</h3>
                    <h6 class="category">One Card for Every Problem</h6>
                    <p class="description">We have gone above and beyond with options for you to organise your information. From cards designed for blog posts, to product cards or user profiles, you will have many options to choose from. All the cards follow the Paper Kit style principles and have a design that stands out.  </p>
                    <a href="#" class="theme-btn btn-style-three mt-4"><i>See More</i> <span class="arrow flaticon-next-8"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-intro ">
        <div class="isolayer isolayer--deco1 isolayer--shadow ">
            <ul class="grid">
                <li class="grid__item first-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/purple-card.png" alt="01" />
                    </a>
                </li>
                <li class="grid__item second-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/twitter-card.jpg" alt="02" />
                    </a>
                </li>
                <li class="grid__item third-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/facebook-card.jpg" alt="03" />
                    </a>
                </li>
                <li class="grid__item fourth-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/pricing-card.jpg" alt="04" />
                    </a>
                </li>
                <li class="grid__item fifth-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/blog-card.jpg" alt="05" />
                    </a>
                </li>
                <li class="grid__item sixth-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/capture.jpg" alt="06" />
                    </a>
                </li>
                <li class="grid__item seventh-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/team-card.jpg" alt="07" />
                    </a>
                </li>
                <li class="grid__item eight-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/testimonal-card.jpg" alt="07" />
                    </a>
                </li>
                <li class="grid__item ninth-card">
                    <a class="grid__link" href="index.html#cards">
                        <img class="grid__img layer" src="~/images/pricing-card-icon.jpg" alt="07" />
                    </a>
                </li>
            </ul>
        </div>
    </div><!--/intro-->

</section>



<section class="news-section">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="title">News & Updates</div>
                    <h2>Latest From Blog</h2>
                    <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective Solutions and our team works.</div>
                </div>
                <div class="pull-right">
                    <a href="blog.html" class="theme-btn btn-style-four"><i>More News</i> <span class="arrow flaticon-next-8"></span></a>
                </div>
            </div>
        </div>

        <div class="row clearfix">

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">14 Sep</div>
                        <img src="~/images/news-1.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">Automation Race: Comparing 5 RPA service providers.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">14 Sep</div>
                        <img src="~/images/news-2.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">Most unusual uses of artificial intelligence projects.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

            <!-- News Block -->
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image">
                        <div class="post-date">14 Sep</div>
                        <img src="~/images/news-3.jpg" alt="" />
                        <a href="blog-single.html" class="overlay-link"><span class="icon flaticon-chain"></span></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">A Performance culture…Don’t we already have that?.</a></h3>
                        <a class="read-more" href="blog-single.html"><span class="arrow left flaticon-next-7"></span> Read More <span class="arrow right flaticon-next-7"></span></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

@section Scripts{
<script src="~/js/cards.js"></script>
}

