
@{
    ViewData["Title"] = "Mission & Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title" style="background-image:url(../images/background/2.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Mission & Vision</h1>
                <div class="text">More than 2000 clients share their thoughts about us</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>Mission & Vision</li>
                </ul>
            </div>
        </div>
    </div>
</section>





<section class="we-are-section">
    <div class="auto-container">
        <!-- Big Image -->


        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="text">
                        <h3><strong>Vision</strong></h3>
                        <p>Our vision for SOFT ZONE is to be the best destination for the desired development in the business.</p>

                        <br />

                        <h3><strong>Mission & Values</strong></h3>
                        <p>
                            SOFT ZONE is a result oriented Information Systems company that builds value for its stakeholders through its success partners by being innovative in values of creativity, teamwork, and by dealing with everyone in a transparent and ethical manner.
                            That happens using multiple technology solutions to provide unique 360O integrated solutions to create a new way of businesses experience.
                        </p>
                    </div>
                    <!-- Signature Box -->

                </div>
            </div>

            <!-- Skill Column -->
            <div class="skill-column col-lg-6 col-md-12 col-sm-12">
                <img src="~/images/about3.png" alt="" />
            </div>

        </div>

    </div>
</section>