@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title" style="background-image:url(../images/background/2.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Projects</h1>
                <div class="text">Flexible, transparent pricing that adapts to your needs</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>Projects</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="projects-section-five">
    <div class="auto-container">

        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Case Studies</div>
            <h2>Latest Projects</h2>
            <div class="text">Our goal is to help our companies maintain or achieve best- in-class positions in their <br> respective industries and our team works.</div>
        </div>

        <!--MixitUp Galery-->
        <div class="mixitup-gallery">

            <!--Filter-->
            <div class="filters text-center clearfix">

                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter="all">View all <span class="total">14</span></li>
                    <li class="filter" data-role="button" data-filter=".business">Development <span class="total">5</span></li>
                    <li class="filter" data-role="button" data-filter=".finance">Mobile Apps <span class="total">2</span></li>
                    <li class="filter" data-role="button" data-filter=".technology">Web Design <span class="total">4</span></li>
                    <li class="filter" data-role="button" data-filter=".marketing">Desktop Apps <span class="total">1</span></li>
                    <li class="filter" data-role="button" data-filter=".coaching">Consultation <span class="total">2</span></li>
                </ul>

            </div>

            <div class="filter-list row clearfix">

                <!-- Project Block Two -->
                <div class="project-block-two mix technology coaching all col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/5.jpg" alt="" />
                            <a href="~/images/gallery/5.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Business, Technology</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

                <!-- Project Block Two -->
                <div class="project-block-two mix technology all col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/2.jpg" alt="" />
                            <a href="~/images/gallery/2.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Marketing, Finance</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

                <!-- Project Block Two -->
                <div class="project-block-two mix all col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/3.jpg" alt="" />
                            <a href="~/images/gallery/3.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Coaching, Business</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

                <!-- Project Block Two -->
                <div class="project-block-two mix all coaching col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/4.jpg" alt="" />
                            <a href="~/images/gallery/4.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Marketing, Coaching</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

                <!-- Project Block Two -->
                <div class="project-block-two mix all technology finance business col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/5.jpg" alt="" />
                            <a href="~/images/gallery/5.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Business, Finance</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

                <!-- Project Block Two -->
                <div class="project-block-two mix all marketing business col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/6.jpg" alt="" />
                            <a href="~/images/gallery/6.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Coaching, Technology</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

                <!-- Project Block Two -->
                <div class="project-block-two mix all finance business col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/5.jpg" alt="" />
                            <a href="~/images/gallery/5.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Marketing, Finance</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

                <!-- Project Block Two -->
                <div class="project-block-two mix technology all business col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/2.jpg" alt="" />
                            <a href="~/images/gallery/2.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Coaching, Business</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

                <!-- Project Block Two -->
                <div class="project-block-two mix business all col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/images/gallery/3.jpg" alt="" />
                            <a href="~/images/gallery/3.jpg" class="lightbox-image overlay-box"><span class="icon flaticon-eye"></span></a>
                        </div>
                        <div class="lower-content">
                            <div class="category">Business, Technology</div>
                            <h3><span>Project Name</span></h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>

@section Scripts{ 
    <script src="~/js/mixitup.js"></script>
}