
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-title" style="background-image:url(images/background/2.jpg);">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>Service Name</h1>
                <div class="text">SOFT ZONE Provides a wide range of solutions, and operations at the highest quality to guarantee customer’s satisfaction.</div>
            </div>
            <div class="pull-right">
                <ul class="bread-crumb clearfix">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>
</section>




<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="left-sidebar">

                        <!-- Categories Widget -->
                        <div class="sidebar-widget services-widget">
                            <div class="widget-content">
                                <ul class="blog-cat-three">
                                    <li class="active"><a href="~/Home/Services">System Integration Services</a></li>
                                    <li><a href="~/Home/Services">Mobile Application</a></li>
                                    <li><a href="~/Home/Services">Integrated Solutions</a></li>
                                    <li><a href="~/Home/Services">Software Services</a></li>
                                    <li><a href="~/Home/Services">Consultation Services</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="services-single">
                    <div class="inner-box">
                        <h2>System Integration Services</h2>
                        <div class="text">
                            <div class="image">
                                <img src="~/images/service-a4.jpg" alt="" />
                            </div>
                            <p>SOFT ZONE system integration services philosophy are built with  a view of 360o which allows as well as handling all data and information systems work saved to databases all associated content both on paper documents or sound files, video, media or e-mail messages related to the subject. The link between all forms of content is done automatically by the automated system. Such as displaying employee data on-screen for Human Resource system and then see all of his related documents that was saved along with his personal information on the same screen. These techniques used to overcome the problems of manual archiving and searching of all kinds of contents.</p>
                            <p>Adding to the above the essentiality of the layer of the geospatial data to integrate external data silos; into business process environment integrating it with all up and running systems to consolidate all types of data into one pool to enable the decision making process to be at the best condition ever.</p>


                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

